* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

/* nav start */

nav {
    display: flex;
    justify-content: center;
    background-color: #000a09;
}

nav a {
    display: inline-block;
    color: white;
    text-decoration: None;
    padding: 10px 30px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: green;
}

/* nav end */

.wrapper {
    max-width: 800px;
    margin: 0 auto;
}

.wrapper .head {
    margin: 50px 0;
}

footer {
    text-align: center;
    background-color: grey;
    padding: 30px 0;
}

.head2, .head {
    background-color: lightblue;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

.head {
    background-color: teal;
}

.divider {
    display: flex;
}

.about-text {
    width: 50%;
    background-color: lightgrey;
    padding: 50px;
}
#dp {
    width:50%;
}

form {
    background-color: lightblue;
    padding: 35px 30px;
    border-radius: 10px;
}

.form-group {
    display: flex;
    margin-top: 15px;
    height: 60px;
}

.form-group-1 {
    width: 30%;
}

.form-group-2 {
    width: 70%;
}

input {
    padding-left: 20px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
}

#message {
    border-radius: 10px;
    border: none;
    padding: 20px;
    display: block;
    width: 100%;
    margin-top: 20px;
}

.submit-btn {
    margin-top: 20px;
    padding: 10px 100px;
    background-color: teal;
    color: white;
}