body
{
    background-color: grey;
    text-align: center;
}
ul
{
    list-style: none;
}
.animal-image
{
    width: 300px;
    height: 300px;
    object-fit: contain;
    margin-right: 40px;
}
.about-content
{
    display: flex;
    justify-content: center;
}
.container
{
    max-width: 90%;
    margin: 0 auto;
}
.form-group
{
    margin-bottom: 10px;
}